@media (max-width: 900px) {

    /* index */

    #page-home {
        background-position-x: 70vw;
    }

    #page-home .content {
        align-items: center;
        text-align: center;
    }

    #page-home .content h1 {
        font-size: 38px;
    }

    #page-home .content p {
        font-size: 20px;
    }

    #page-home .content main a {
        height: 60px;
    }

    #page-home .content main a span {
        height: 60px;
        width: 60px;
    }

    #page-home header a {
        position: absolute;
        bottom: 48px;
        left: 50%;

        min-width: 250px;
        transform: translateX(-50%);
    }
    
    #page-home header a span {
        max-width: 20px;
        min-width: 20px;
    }

    #page-home main {
        align-items: center;
    }

    /* modal index */

    #modal .content {
        width: 90%;
    }

    #modal .content .header {
        margin-bottom: 28px;
    }

    #modal .content .header h1 {
        font-size: 26px;
    }

    #modal form button {
        height: 50px;
    }

    /* create-point */


    #page-create-point {
        background-position-x: 70vw;
    }

    #page-create-point header {
        display: flex;
        justify-content: center;
        text-align: center;
    }

    #page-create-point header .nav {
        background-color: #f5f5f5;

        width: 200px;
        height: 50px;

        border: 1px solid gray;
        border-radius: 8px;

        position: fixed;
        bottom: 15px;
        left: 50%;
        transform: translateX(-50%);

        z-index: 2;
    }

    #page-create-point .items-grid {
        grid-template-columns: 1fr;
    }

    #page-create-point form {
        padding: 15px;
    }

    #page-create-point form h1 {
        font-size: 20px;
        text-align: center;
    }

    #page-create-point form fieldset {
        margin-top: 38px;
    }

    #page-create-point form .field-group  {
        flex-direction: column;
    }

    #page-create-point form .field-group .field + .field {
        margin-left: 0;
    }

    #page-create-point form button {
        width: auto;
    }

    #page-create-point form legend {
        text-align: center;
    }

    #page-create-point form legend h2  {
        font-size: 20px;
    }

    #page-create-point .button {
        display: flex;
    }

    #page-create-point .button button {
        flex: 1;
    }

    /* search */
    
    #page-search-result main .cards  {
        grid-template-columns: 1fr;
    }

    #page-search-result main .cards img {
        height: 200px;
    }
    #page-search-result header {
        display: flex;
        justify-content: center;
        text-align: center;
    }

    #page-search-result header .nav {
        background-color: #f5f5f5;

        width: 200px;
        height: 50px;

        border: 1px solid gray;
        border-radius: 8px;

        position: fixed;
        bottom: 15px;
        left: 50%;
        transform: translateX(-50%);

        z-index: 2;
    }
}

@media (max-height: 700px) {
    #page-home {
        background-position-y: 200px;
    }

    #page-home .content main a {
        height: 50px;
    }

    #page-home .content main a span {
        height: 50px;
    }


    #page-home .content h1 {
        font-size: 28px;
    }

    #page-home .content p {
        font-size: 16px;
    }
}

@media (min-width: 1700px) {
    #page-home {
        background-position-x: 40vw;
    }
}
